.entry-con {
    background: #ffb37ba7;
    margin: 8px;
    padding: 1.1rem;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    border-radius: 12px;
    border: 1px solid black;
}
.copied-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}
.copied-btn {
    height: 2.5rem;
    box-shadow: none;
    text-align: center;
}
