* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    max-width: 100vw;
    display: flex;
    align-items: center;
    background: #fab28f;
    flex-direction: column;
}
h1 {
    font-size: min(1.5rem, 11vw);
    letter-spacing: 1.4px;
    margin-bottom: 20px;

    font-weight: 700;
    font-style: bold;
}
.wrapper {
    background: #ef510055;
    margin: 50px 30px 30px 30px;
    padding: 1.4rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 3px 2px 5px #581d00;
    width: min(400px, 95vw);
    display: grid;
    place-items: center;
    row-gap: 20px;
    text-align: center;
}
.emoji-box,
span {
    font-size: 2.5rem;
}
.emoji-name {
    font-style: italic;
}
button{
    border: none;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid black;
    background: #fab27f;
    
}
#get-btn {
    width: 60%;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
    transition: 0.5s ease-in;
}
button:active {
    transform: scale(1.1);
}
